html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}
 
 #map {
        width: 60%;
        height: 500px;
        background-color: grey;
        margin: auto;
        padding-bottom: 50px;
      }

#locationForm{
  text-align: center;
  padding-bottom: 20px;
}

#locationFormGet{
  text-align: center;
  padding-bottom: 60px;
}

#content{
  text-align: center;
  font-size: 40px;
}
  


